nav {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.menu-outline {
  color: white;
  font-size: 32px;
}

/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  nav a {
    display: none;
  }
}
/** Tablet **/
/** Tablet (landscape) **/
.baseline {
  width: 100%;
  height: 100vh;
  background-image: url(assets/Default-Theme.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.mainContent {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/nature-quotes-landscape-1648265648.avif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
