.mainContent {
    width: 100%;
    height: 40vh;
    background-image: url(../assets/nature-quotes-landscape-1648265648.avif);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}