.insert {
    width: 100%;
    height: 100vh;
    background-color: beige;
    background-image: url(assets/Google-Flights-search-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 100%;
    }
}